<!doctype html>
<html lang="en">

<head>

</head>

<body>
  <div class="logo-container">
    <div class="logo-image">
      <img src="/assets/images/logo.jpg" class="logo">

    </div>
    <div class="search-box">
      <input type="text" class="form-control">
      <span class="input-group-text"><i class="fa fa-search"></i></span>
    </div>

    <div class="menu-bar">
      <ul>
        <li><a routerLink="addcart" routrerLinkActive="active">add cart </a></li>

        <li><a href="#"> sign up </a></li>
        <li><a href="#"> Login</a></li>

      </ul>
    </div>
  </div>
  <div class="navigation">

    <div class="left-navigation">
      <app-left-navigation></app-left-navigation>
    </div>
    <div class="slideshow">
      <h1>slide show</h1>
      <app-slideshow></app-slideshow>
    </div>
  </div>
  <br />
  <router-outlet></router-outlet>



  <div id="foot">
    <app-footer></app-footer>
  </div>
</body>

</html>