p
{
    background-color: green;
}
.shirts-disply
{
    background-color: greenyellow;
    height: 400px;
    width: 100%;
    position: relative;
    margin-top: 60px;

z-index: 1;
margin-top: 60px;
}